<a href="https://colab.research.google.com/github/rubengp39/AirQuality-Raspi/blob/main/IOT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import json

In [25]:
# Opening JSON file
jsonArr = []
with open('weather.json') as json_file:
    data = json.load(json_file)
 
    # Print the type of data variable
    print("Type:", type(data))

Type: <class 'list'>

In [53]:
columns = ["last_updated", "temp_c", "wind_kph", "wind_degree", "pressure_mb", "precip_mm", "humidity", "cloud", "pm2_5", "pm10"]
df = pd.DataFrame(columns = columns)
for i in range(0, len(data)):
  row = []
  row.append(data[i]['last_updated'])
  row.append(data[i]['temp_c'])
  row.append(data[i]['wind_kph'])
  row.append(data[i]['wind_degree'])
  row.append(data[i]['pressure_mb'])
  row.append(data[i]['precip_mm'])
  row.append(data[i]['humidity'])
  row.append(data[i]['cloud'])
  row.append(data[i]['air_quality']["pm2_5"])
  row.append(data[i]['air_quality']["pm10"])
  df = df.append(dict(zip(df.columns, row)), ignore_index=True)

In [54]:
df.head()

,last_updated,temp_c,wind_kph,wind_degree,pressure_mb,precip_mm,humidity,cloud,pm2_5,pm10
0,2022-12-13 19:45,15.0,3.6,199,997.0,0.7,88,0,1.1,2.1
1,2022-12-13 19:45,15.0,3.6,199,997.0,0.7,88,0,1.1,2.1

In [ ]:
data['air_quality']

223.60000610351562

In [ ]:
df.head()

,last_updated_epoch,last_updated,temp_c,temp_f,is_day,condition,wind_mph,wind_kph,wind_degree,wind_dir,...,humidity,cloud,feelslike_c,feelslike_f,vis_km,vis_miles,uv,gust_mph,gust_kph,air_quality
text,1670957100,2022-12-13 19:45,15,59,0,Clear,2.2,3.6,199,SSW,...,88,0,15,59,10,6,1,8.9,14.4,NaN
icon,1670957100,2022-12-13 19:45,15,59,0,//cdn.weatherapi.com/weather/64x64/night/113.png,2.2,3.6,199,SSW,...,88,0,15,59,10,6,1,8.9,14.4,NaN
code,1670957100,2022-12-13 19:45,15,59,0,1000,2.2,3.6,199,SSW,...,88,0,15,59,10,6,1,8.9,14.4,NaN
co,1670957100,2022-12-13 19:45,15,59,0,NaN,2.2,3.6,199,SSW,...,88,0,15,59,10,6,1,8.9,14.4,223.600006
no2,1670957100,2022-12-13 19:45,15,59,0,NaN,2.2,3.6,199,SSW,...,88,0,15,59,10,6,1,8.9,14.4,11.500000